@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
		/* 按照需要旋转的角度设置 */
	}
}

.rotate {
	animation: rotate infinite 20s linear;
	/* TY这里漏了个20s导致没有效果………… */
	/* 设置为无限次、线性运动 */
}